@@font-face {
  font-family: 'tituloh1' sans-serif;
  src: url('font/BebasNeue-Regular.ttf');
}

body{
    background-image: radial-gradient(circle at 50% -20.71%, #ffaa86 0, #ffaf7b 5%, #ffb472 10%, #ffb96a 15%, #ffbe64 20%, #f8c360 25%, #ecc85e 30%, #dfcc5e 35%, #d1d160 40%, #c3d565 45%, #b4d86c 50%, #a4db75 55%, #93de7f 60%, #81e08a 65%, #6ce297 70%, #54e4a4 75%, #32e5b2 80%, #00e6c0 85%, #00e6cf 90%, #00e7dd 95%, #00e6eb 100%);
 }
h1{
  font-family: 'Chango';
  font-size: 40px;
  color:white;
  text-align: center;
  border: 4px dotted #fff9f9;
  padding: 8px;
}
p{
  font-family: 'New Tegomin';
  font-size: 25px;
  text-align: center;
  color: white;
}
  img{
    width: 750px;
    height: 550px;
    display:block;
    margin:auto;
}
.imagen1:hover{
  filter: grayscale(90%);
}
.imagen2:hover{
  filter: blur(3px);
}
.imagen3:hover{
  filter: opacity(.5);
}
*{
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  background: #1ABC9C;
  height: 70px;
}
/*AQUI MODIFICAMOS EL ANCHO*/
.ancho{
  width: 80%;
  height: 70px;
  /*background: red;*/
  margin: auto;
}
.logo{
  width: 30%;
  height: 70px;
  /*background: blue;*/
  float: left;
  padding-top: 10px;
  box-sizing: border-box;
}
.logo p a{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: Regular;
}
nav{
  width: 70%;
  height: 70px;
  /*background: olive;*/
  float: left;
  text-align: right;
  padding-top: 24px;
  box-sizing: border-box;
}
nav ul li{
  display: inline;
}
nav ul li a{
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  padding-left: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Regular;
}
nav ul li a:hover{
  color: #444;
}
@font-face {
  font-family: Regular;
  src: url(font/ArchitectsDaughter-Regular.ttf);
}
.mts{
  height: 30px;
}
.mts1{
  width: 100%;
  padding: 40px 35px;
}
.motos1 p{
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  height:150px;
}
.parrafo{
   margin: 10px;
   font-size:16px;
   overflow:hidden;
   justify-content:center;
   text-align: center;
   letter-spacing: 2pt;
